name: avoid_keyboard
description: A package for helping with keyboard avoidance.
version: 0.1.0-alpha
repository: https://github.com/HornMichaelS/flutter_avoid_keyboard

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
